.band {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  .card {
    display: inline-block;
    width: 200pt;
    padding: 1em;
    background: white;
    box-shadow: 0 2px 5px rgba($text-color ,0.15);
    margin: 16pt 8pt;
    transition: all .3s ease-in-out;
    &:hover {
      box-shadow: 0 4px 6px rgba($text-color, 0.25);
    }
    h1 {
      font-size: $tL;
      margin-top: -15px 0 0 0;
      color: #333;
    }
    p {
      flex: 1;
      margin-top: 0.5em;
      color: $darker-mid-grey;
    }
  }
}
