.mainBanner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (#{$nav-height} * 2));
  min-height: 400pt;
  padding-top: $nav-height;
  background: $home-gradient;
  background-size: 400% 400%;
  animation: animate-gradient 5s infinite;
  .logoBanner {
    display: block;
    height: 120pt;
    margin: 8pt 0;
    &.animate {
      animation: spin 1s linear infinite, moveLeftToRight 2.5s linear infinite;
    }
    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    @keyframes moveLeftToRight {
      0%   { margin-left: -20%; }
      100% { margin-left: 100%; }
    }
  }
  h1 {
    width: 100%;
    max-width: 90vw;
    text-align: center;
    color: $bg;
    font-size: 1.8em;
  }
  a {
    display: block;
    width: 140pt;
    margin: 8pt auto;
    padding: 8pt 16pt;
    text-align: center;
    font-weight: bold;
    color: $bg;
    background: $accent-color-purple;
    border: 1px solid $bg;
    white-space: nowrap;
    transition: all .15s ease-in-out;
    &:hover {
      background: $bg;
      color: $accent-color-purple;
    }
  }
  .moreInfo {
    position: absolute;
    bottom: 8pt;
    left: 50%;
    transform: translateX(-50%);
    color: $bg;
    pointer-events: none;
    svg {
      fill: $bg
    }
  }
}
