nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $nav-height;
  width: 100%;
  padding: 0 16pt;
  font-size: $tS;
  color: $text-color;
  background-color: $bg;
  box-shadow: 0 0 4px rgba($text-color, 0.15);
  z-index: 100;
  .navBtn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16pt;
    font-size: 1.2em;
    cursor: pointer;
    color: inherit;
    transition: all .15s ease;
    &:hover {
      color: $bg;
      background-color: $accent-color-purple;
    }
  }
  .navLogo {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: $accent-color-yellow;
    .logo {
      height: 16pt;
      fill: $accent-color-yellow;
    }
    span {
      font-size: 2em;
      margin-left: 4pt;
      font-weight: bold;
    }
  }
  img {
    height: 24pt;
  }
}

.mobileNav {
  position: sticky;
  bottom: -1px;
  left: 0;
  display: none;
  width: 100%;
  height: $nav-height;
  background: $bg;
  box-shadow: 0 0 8px rgba($text-color, 0.1);
  z-index: 10;
}

.navBtnMobile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8pt;
  border-left: 1px solid $darker-light-grey;
  &[href="/"] {
    color: $accent-color-purple;
  }
  &[href="/onboarding"] {
    color: $accent-color-yellow;
  }
  &[href="/downloads"] {
    color: $accent-color-blue;
  }
}
