/* _-_-_- modules/BUTTONS -_-_-_ */
button {
  outline: none;
  border: none;
  cursor: pointer;
}

.downloadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8pt;
  width: 100%;
  background: $download-gradient;
  background-size: 200% 200%;
  cursor: pointer;
  transition: all .15s ease-in-out;
  svg {
    fill: $bg;
  }
  span {
    color: $bg;
    font-size: $tL;
    margin: 0 0 0 0.5em;
  }
  &:hover {
    box-shadow: inset 0 0 2px 3px $accent-color-blue;
    animation: animate-gradient 2s infinite;
  }
}
