@charset "UTF-8";
/* media queries*/

@media screen and (min-width: 730px) {
  .navOverlay {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .footerIcon {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .downloadsWrapper {
    .section {
      padding: 24pt 16pt;
    }
  }
}

@media screen and (max-width: 885px) {
  .mainFooter {
    flex-direction: column;
    padding: 16pt;
    .emailSignup {
      margin-bottom: 16pt;
    }
  }
  .container {
    padding: 16pt 8pt;
  }
  .copyright {
    text-align: center;
    span {
      display: block;
      float: none;
    }
  }
}

@media screen and (max-width: 790px) {
  nav {
    .navBtn {
      padding: 0 8pt;
      font-size: $tS;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .alert {
    top: 0;
  }
  .mobileNav {
    display: flex;
  }
  .mainBanner {
    h1 {
      font-size: 18pt;
    }
  }
  .section {
    padding: 24pt 16pt;
  }
}

@media screen and (max-width: 500px) {
  nav {
    .navLogoContainer {
      display: none;
    }
  }
  .alert {
    font-size: $tS;
  }
  .mainBanner {
    .moreInfo {
      bottom: 16pt;
    }
  }
  .onboardingWrapper {
    .container {
      a, .viewAll {
        width: 100%;
        text-align: center;
      }
    }
  }
  .features {
    .featureBox {
      width: calc(100vw - 16pt);
    }
  }
  .mainFooter {
    #colWrapper {
      flex-flow: column nowrap;
      text-align: center;
      .col {
        width: auto;
        margin: 0 auto 4pt;
        padding-bottom: 4pt;
        border-bottom: 1px solid $bg;
      }
    }
  }
}
