@charset 'utf-8';

// Import online fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

// Each line imports all SCSS files of a group

// 3rd party frameworks
@import 'vendors/-import-vendors';

// Sass-related functions, mixins, variables, etc.
@import 'abstracts/-import-abstracts';

// Small changes that apply across all pages
@import 'base/-import-base';

// Sections of a page
@import 'layout/-import-layout';

// Smaller components
@import 'components/-import-components';

// Page-specific styles
@import 'pages/-import-pages';

// Changing site templates
@import 'themes/-import-themes';

// Media Queries
@import 'mediaqueries/-import-mediaqueries';
