/* _-_-_- base/BASE -_-_-_ */
body {
  background: $bg;
  color: $text-color;
  font-family: $text-font-stack;
  line-height: 1.4;
}

.app {
  min-height: 100vh;
}

a {
  color: $text-color;
  cursor: pointer;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

